$color-gray :#D9D9D9;
$color-white: #FFFFFF; 

.body-outer {
    display: flex;
    justify-content: center;
    margin: 1%
}
.body{
    display: flex;
    align-items: center;
    align-content: center;
    width: 70%;
    
    background: $color-gray;


    border-radius: 28px;
}  

.body p {
    margin: 4%;
    font-family: 'Lexend';
}